{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/password_change.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Fitness App - Change Password</title>
</head>
<body>
<!-- Загрузка статических файлов -->

<div class="form-container" id="formContainer">
<h2>Change password</h2>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="oldpassword">Old password</label>
        {{ form.old_password }}
        <i class="fa fa-eye-slash show-password-icon" aria-hidden="true"></i>
    </div>
    <div class="form-group">
        <label for="newpassword">New password</label>
        {{ form.new_password1 }}
        <i class="fa fa-eye-slash show-password-icon" aria-hidden="true"></i>
    </div>
    <div class="form-group">
        <label for="confirmpassword">Confirm password</label>
        {{ form.new_password2 }}
        <i class="fa fa-eye-slash show-password-icon" aria-hidden="true"></i>
    </div>
    <div class="form-group">
    <button type="submit">Change Password</button>
    </div>
</form>
</div>
<script>
    const showPasswordIcons = document.querySelectorAll('.show-password-icon');

    showPasswordIcons.forEach(icon => {
        const passwordInput = icon.previousElementSibling; // Получаем предыдущий элемент (input) от иконки
        
        icon.addEventListener('click', function() {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            }
        });
    });
</script>
</body>
</html>
