
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Увеличим максимальную ширину контейнера */
    width: 100%;
    margin: 20px;
    transition: transform 0.3s;
}

.form-container:hover {
    transform: translateY(-5px);
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
    display: flex;
}

.show-password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Roboto', sans-serif;
}

.form-group button:hover {
    background: #333;
}

.success-message {
    font-family: 'Roboto', sans-serif;
    background: #ccc;
    color: #333;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
    display: none;
}

a {
    text-decoration: none;
    color: blue;
}

.error-message {
    font-family: 'Roboto', sans-serif;
    background: #ffcccc;
    color: #cc0000;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
    
}

.password-requirements {
    font-size: 0.8em;
    display: none;
    
}
#additional_fitness_goals {
display: flex; 
flex-direction: column;
text-align: left;
}

.form-group-additional-fitness-goal {
    width: 100%;
    padding: 0 40px 10px 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    position: relative;
    display: block;
    flex-direction: column;
}



#title-additional-fitness-goal {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}